html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;     
}

/*
  Раздел структурных элементов
*/

.header,
.footer {
  display: flex;
  font-size: 18px;  
}

.contacts {
  flex-grow: 1;
  max-width: 240px;
  font-style: normal;
  line-height: 134%;
}

.navigation {
  text-transform: lowercase;
}


/*
  Раздел заголовка
*/

.header {
  align-items: center;  
  height: 105px; 
  margin: 92px 24px;
}

.header__menu {
  flex-grow: 1; 
  width: 390px;  /* Должно быть 388 по макету, но всё сходится в Pixel Perfect */
  margin-right: 31.81px;
  margin-left: 34.19px;
}

.header__links-list {
  display: flex;
  gap: 29px;
  list-style: circle;  
}

.header__links-list-item_no-bullit {
  padding-top: 1px;
  list-style-type: none;
}

.header__links-list-item {
  padding-left: 4px;      /* Отодвигает точки в пунктах меню */
}

.header__link_active {
  border-bottom: 1px solid black;
  padding-bottom: 1px;        /* Отодвигает линию подчёркивания */
  text-decoration: none;
}

.header__logo {  
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
    height: 100%;
}

.header__address {
  margin-right: 30px;  
  margin-left: 180px;
}
 
.header__address-link {
  text-decoration: none;
}

.contacts__span {
  border-bottom: 1px solid black;
}

/*
  Раздел входной секции
*/

.cover {
  position: relative;
  z-index: -2;
  margin: 0 9px;
  padding-bottom: 744px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;  
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / .6);
}

.cover__title {
  position: absolute;
  width: 100%;  
  margin-right: auto;
  padding: 158px 49px 0px 47px;  
  color: #FFFFFF;
  font-size: 100px;
  line-height: 1.24;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text-center {
  display: block;
  text-align: center;
}

.aligned-text-right {
  display: block;
  line-height: 1.15;
  letter-spacing: 28px;
  text-align: right; 
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-extended2 {
  letter-spacing: 57px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 657px 40px 0px 81px;
  color: #fff;
  text-transform: uppercase;  
}

.cover__description-text {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 300%;
}

.cover__description-text-span {
  word-spacing: 22px;
}

.bet-button {
  margin-left: 65px;
  border: 1px solid #fff;
  padding: 12px 29px 11px;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  background-color: transparent;
}

/*
  Раздел секции с карточками 
*/

.lots {
  max-width: 1034px;
  margin: 177px 33px 0;  
}

.lots-title {
  padding-left: 37px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 25px;
  padding-top: 26px;   
  list-style-type: none;  
}

  /*ширина центральной карточки 329px
  и расстояния между ними на самом деле 24px и 25px */

.lots__card-list-item {
  flex-grow: 1;
  width: 328px;
  height: 554px;
}

.card-link {
  display: block;
  height: 100%;

}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  padding: 48px 35px 46px 39px;
  
  background-image: url(../images/card-lot-01.jpg);
  background-position: left top;
}

.card_type_book {
  padding: 48px 36px 46px 39px;
  background-image: url(../images/card-lot-02.jpg);  
}

.card_type_picture {
  padding: 48px 34px 46px 40px;
  background-image: url(../images/card-lot-03.jpg); 
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card-text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card__title-span {
  word-spacing: 5px;
}

.card__text-span {
  position: relative;
  bottom: 5px;
  }

.lots__look-more-link {
  display: block;
  padding-top: 29px;
  padding-left: 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-underline-offset: 5px;
  text-transform: lowercase;

}

/*
  Раздел колонки с текстом
*/

.about {
  display: flex;
  padding: 177px 24px 0;
}

.about__column-logo {
  width: 328px; 
}

.about__column-logo-link {
  display: block;
  width: 237px;
  height: 237px;
  margin: 0 55px 0;
  border-radius: 50%;
  padding-top: 63px;
  background-color: black;    
}

.about__logo {
  display: block;
  width: 148px;
  margin-right: auto;
  margin-left: auto;
}

.about__column-text {
  padding-left: 34px;
}

.about__title {
  padding-top: 98px;
  padding-bottom: 101px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 694px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about__text-empty-line {
  padding-bottom: 25px;
}


/*
  Раздел футера
*/

.footer {
  display: flex;
  height: 97px;
  margin: 182px 58px;
}

.footer__contacts {
  flex-grow: 1;
  margin-right: 177px;
}

.footer__menu {
  width: 152px;
}

.footer__menu-list {
  padding-left: 2px;
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-grow: 1;
  flex-grow: 1;
  justify-content: end;
  margin-left: 181px;
  list-style-type: none;
}

.footer__social-list-item {
  margin-right: 46px;
  margin-left: 47px;      /* Gap'ом не прокатит, расстояния разные*/
}

.image__footer {
  width: 48px;
}